.row_submitted {background: rgb(222, 255, 172);}
.row_cancelled {background: rgb(153, 102, 102); color: rgb(255, 255, 255);}
.row_rejected {background: rgb(255, 217, 236);}
.row_approved {background: rgb(51, 204, 255);}
.row_settled {background: rgb(0, 166, 0);color: rgb(255, 255, 255);}

.cell_left_ccy { background: rgb(255, 140, 0);}

#pageTitleDiv {color:blue; font-size: 1.8em; padding: 5px; 
	border-bottom:1px solid blue;  }